* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 2.1875rem;
}

.website-title {
  font-family: Outfit, sans-serif;
  color: rgb(18, 18, 18);
  margin-left: 2.1875rem;
}

.website-title h1 {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.4rem;
}

.website-title h3 {
  font-weight: 100;
  font-size: 1.17rem;
  margin-bottom: 2.1875rem;
}

.website-title strong {
  font-weight: 300;
}

.website-title strong:hover {
  color: rgb(207, 172, 51);
}

h2 {
  font-family: Outfit, sans-serif;
  color: rgb(18, 18, 18);
}

p {
  font-family: Inter;
  margin-left: 2.1875rem;
  color: rgb(18, 18, 18);
}

nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: rgb(218, 206, 132); 
  padding-left: 2.1875rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

nav a {
  font-family: Inter, sans-serif;
  color: rgb(18, 18, 18);
  text-decoration: none;
  font-size: 0.9375rem;
}

nav a:visited {
  color: inherit;
}

nav a:hover {
  font-weight: 600;
  text-decoration: none;
}
