nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem; /* spacing between links */
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-family: Roboto;
}

p {
  color: green
}
