* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Outfit, sans-serif;
  font-weight: 350;
  margin: 0;
}

h2 {
  font-family: Outfit, sans-serif;
}

h3 {
  font-family: Outfit, sans-serif;
  font-weight: 20;
  margin: 0;
}

.website-title {
  margin-left: 35px;
}

#name {
  margin-top: 35px;
  letter-spacing: 9.5px;
}

p {
  font-family: Inter;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav a {
  font-family: Outfit, sans-serif;
}
