* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 35px;
  margin-top: 35px;
  margin-right: 35px;
}

.website-title {
  font-family: Outfit, sans-serif;
}

.website-title h1 {
  font-weight: 400;
  letter-spacing: 0.375rem;
}

h2 {
  font-family: Outfit, sans-serif;
}

.website-title h3 {
  font-weight: 100;
}

p {
  font-family: Inter;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav a {
  font-family: Outfit, sans-serif;
}
