*, *::before, *::after {
  border: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Outfit, sans-serif;
  font-weight: 200;
  letter-spacing: 15rem;
  padding-left: 2rem;
  padding-bottom: 0.1rem;
}

h2 {
  font-family: Outfit, sans-serif;
}

h3 {
  font-family: Outfit, sans-serif;
  font-weight: 20;
  padding-left: 2rem;
  padding-top: 0.1rem;
}

p {
  font-family: Inter;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav a {
  font-family: Outfit, sans-serif;
}
