*, *::before, *::after {
  border: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Outfit, sans-serif;
}

h2 {
  font-family: Outfit, sans-serif;
}

h3 {
  font-family: Outfit, sans-serif;
}

p {
  font-family: Inter;
}


