* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 35px;
  margin-top: 35px;
  margin-right: 35px;
}

div h1 {
  font-family: Outfit, sans-serif;
  font-weight: 400;
  letter-spacing: 9.5px;
}

h2 {
  font-family: Outfit, sans-serif;
}

div h3 {
  font-family: Outfit, sans-serif;
  font-weight: 25;
}

p {
  font-family: Inter;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav a {
  font-family: Outfit, sans-serif;
}
