* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 2.1875rem;
}

.website-title {
  font-family: Outfit, sans-serif;
  margin-left: 2.1875rem;
}

.website-title h1 {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: rgb(0, 0, 0);
}

.website-title h3 {
  font-weight: 100;
  font-size: 1.17rem;
  margin-bottom: 2.1875rem;
  color: rgb(0, 0, 0);
}

.website-title strong {
  font-weight: 300;
}

.website-title strong:hover {
  color: rgb(196, 129, 28);
}

h2 {
  font-family: Outfit, sans-serif;
}

p {
  font-family: Inter;
}

nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

nav a {
  font-family: Inter, sans-serif;
  text-decoration: none;
  font-size: 0.9375rem;
}

nav a:visited {
  color: inherit;
}

nav a:hover {
  color: rgb(196, 129, 28);
  text-decoration: none;
}
