* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-left: 35px;
  margin-top: 35px;
  margin-right: 35px;
}

.website-title {
  font-family: Outfit, sans-serif;
}

.website-title h1 {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  color: rgb(0, 0, 0);
}

.website-title h3 {
  font-weight: 100;
  font-size: 1.17rem;
  margin-bottom: 35px;
  color: rgb(0, 0, 0);
}

.website-title strong {
  font-weight: 300;
}

.website-title strong:hover {
  color: rgb(196, 129, 28);
}

h2 {
  font-family: Outfit, sans-serif;
}

p {
  font-family: Inter;
}

nav {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
}

nav a {
  font-family: Inter, sans-serif;
  text-decoration: none;
  font-size: 25px;
}

nav a:hover {
  color: rgb(196, 129, 28);
  text-decoration: none;
}
